.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;;
  align-items: center;
  justify-content: space-between;
  padding: 8px; /*My answer was nothing */ /*Real Answer padding: 8px*/
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /*my answer was margin: 10px 0px; */ /* Real Answer with out this*/
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none; 
  display: flex;
  padding: 0px;
  gap: 20px; /* Real Answer gap 8px */  /* my answer gap: 20px;*/
  margin: 0px;  /* my answer margin: 0px 10px 0px 10px;*/  /* Real Answer margin 0px */
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}